/obj/
/lib/
/alire/
/config/
/backends/lib/
/backends/obj/
/tests/alire/
/tests/bin/
/tests/lib/
/tests/obj/
/core/alire/
/core/config/
/core/lib/
/core/obj/
/v*/alire/
/v*/config/
/v*/lib/
/v*/obj/
/v*/example/alire/
/v*/example/bin/
/v*/example/config/
/v*/example/obj/
/multi_example/alire/
/multi_example/bin/
/multi_example/config/
/multi_example/obj/
__pycache__/
*.pyc
*.o
